.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Палитра */
/* accent and button #2196F3 */
/* title color #212121 */
/* text color #757575 */
/* footer link color rgba(255, 255, 255, 0.6); */
/* secondary background #F5F4FA */
/* footer background #2F303A */
/* hero bacground #2F303A*/

/* Header */

.header .container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 85px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.logo-word {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.navigation-list,
.address-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .address {
  margin-left: auto;
}

.address-list-item:not(:last-child) {
  margin-right: 30px;
}

.address-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  fill: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-svg,
.phone-svg {
  margin-right: 10px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.navigation-list-link.current {
  color: var(--accent-color);
}

.navigation-list-item {
  position: relative;
}

.navigation-list-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -180%;
  left: 0;
}

/* HERO */

.hero {
  height: 600px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Img.jpg);
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
}

.modal-btn {
  font-family: var(--maim-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;

  display: inline-block;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 10px 20px;
  color: #ffffff;

  margin-top: 30px;
  margin-bottom: 200px;

  cursor: pointer;
}

/* Main */

/* About Us */

.about-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.about-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.about-list {
  display: flex;
  align-items: center;

  margin-top: 94px;
}

.about.container {
  height: 290px;
}

.about-list-item {
  width: 270px;
}

.about-list-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.icon-1::before {
  background-image: url(../images/main/antenna\ 1.svg);
}

.icon-2::before {
  background-image: url(../images/main/clock\ 1.svg);
}

.icon-3::before {
  background-image: url(../images/main/diagram\ 1.svg);
}

.icon-4::before {
  background-image: url(../images/main/astronaut\ 1.svg);
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

/* products */

.products-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-bottom: 50px;
}

.producsts-list {
  display: flex;
  justify-content: space-between;
}

.products-list-item {
  position: relative;
}

.poducts-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(50, 47, 58, 0.8);
}

.products-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 370px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* our team */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-bottom: 30px;
}

.team-list-member {
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* border: 1px solid transparent; */
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-bottom: 10px;
}

.team-list-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: var(--footer-title-color);
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-content {
  padding: 30px 32px 0px;
  background: #ffffff;
}

.team {
  background: #f5f4fa;
}

/* Clients */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.footer .container {
  display: flex;
}

.footer .logo {
  display: inline-block;

  margin-top: 60px;
  margin-bottom: 20px;
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-address-map:hover,
.footer-address-map:focus {
  color: var(--accent-color);
}

.footer .footer-address-list {
  display: inline-block;

  margin-bottom: 60px;
  margin-right: 70px;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .footer .social-title {
  margin-top: 72px;
} */

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-title-color);
  /* padding-top: 72px; */

  margin-bottom: 20px;
}

footer .social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer .social-list-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social {
  padding-top: 72px;
  margin-right: 93px;
}

.mail-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-title-color);
  margin-bottom: 20px;
}

.mail {
  padding-top: 72px;
}

.mail-form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  padding-left: 16px;

  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mail-form-input:focus {
  outline: none;
}

.mail-btn {
  font-family: var(--maim-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;

  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 10px 28px;
  color: #ffffff;

  cursor: pointer;
}

.mail-btn::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/icon\ send.svg);
  margin-left: 8px;
}

/* ========Modal-window========== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: 581px;
  width: 528px;
  background-color: #ffffff;
  padding: 40px;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;

  cursor: pointer;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-form-button {
  font-family: var(--maim-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;

  align-self: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 10px 20px;
  color: #ffffff;

  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  margin-bottom: 12px;
}

.modal-form-label {
  margin-bottom: 10px;
}

.label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.01em;
}

.modal-form-input:focus,
.modal-form-message:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-input:focus + .modal-form-svg {
  fill: var(--accent-color);
}

.modal-form-input {
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  margin-bottom: 5px;
  padding: 12px 16px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 25px;
}

.modal-policy-label-link {
  color: var(--accent-color);
}

.modal-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;

  background-image: url(../images/svg/chekbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-policy-label::before {
  background-color: var(--accent-color);
  border: transparent;
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Portfolio */

.buttons-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.btn:hover {
  color: var(--footer-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.portfolio-btn {
  font-family: var(--maim-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

.works-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.works-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.works-list-item {
  width: 370px;
  margin: 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-link-content {
  padding: 20px 24px;
}

.works-thumb {
  position: relative;
  overflow: hidden;
}

.works-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  width: 322px;
  height: 168px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.works-list-item:hover .works-overlay {
  transform: translateY(0);
}
