.clients {
  &-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.179;
    letter-spacing: 0.03em;
    color: $title-color;
    text-align: center;

    margin-bottom: 30px;
  }

  &-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 90px;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      fill: #afb1b8;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-item:hover {
      fill: $accent-color;
      border-color: $accent-color;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 480px) {
  .clients {
    &-list {
      &-item {
        width: 210px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .clients {
    &-list {
      &-item:nth-of-type(odd) {
        margin-right: 30px;
      }

      &-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    &-list {
      &-item {
        width: 226px;
      }

      &-item:not(:nth-child(3n)) {
        margin-right: 30px;
      }

      &-item:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    &-title {
      font-size: 36px;
      line-height: 1.166;
      margin-bottom: 50px;
    }

    &-list {
      justify-content: space-between;

      &-item {
        width: 170px;
      }
    }
  }
}

// .clients {
//   &-title {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.166;
//     letter-spacing: 0.03em;
//     color: $title-color;
//     text-align: center;

//     margin-bottom: 50px;
//   }

//   &-list {
//     display: flex;
//     justify-content: space-between;

//     &-item {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       width: 170px;
//       height: 90px;
//       border: 1px solid #afb1b8;
//       border-radius: 4px;
//       fill: #afb1b8;
//       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &-item:hover {
//       fill: $accent-color;
//       border-color: $accent-color;
//       cursor: pointer;
//     }
//   }
// }
