.products-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-bottom: 50px;
}

.producsts-list {
  display: flex;
  justify-content: space-between;
}

.products-list-item {
  position: relative;
}

.poducts-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(50, 47, 58, 0.8);
}

.products-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 370px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
