.buttons-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;

  &-item:not(:last-child) {
    margin-right: 8px;
  }

  .btn:hover {
    color: $footer-title-color;
    background-color: $accent-color;
    cursor: pointer;
  }
}

.portfolio-btn {
  font-family: $maim-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .buttons-list {
    &-item {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .buttons-list {
    justify-content: center;
  }
}
