.works {
  &-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      background: #ffffff;
      border: 1px solid #eeeeee;
      box-sizing: border-box;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $title-color;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.03em;
      color: $main-text-color;
    }

    &-item:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &-img {
      width: 100%;
    }
  }

  &-thumb {
    position: relative;
    overflow: hidden;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .works-list-item:hover & {
      transform: translateY(0);
    }
  }

  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    width: 402px;
    height: 140px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.work-link-content {
  padding: 20px 24px;
}

@media screen and (max-width: 767px) {
  .works {
    &-list {
      &-item {
        width: 450px;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works {
    &-list {
      &-item {
        width: 354px;
      }

      &-item:not(:nth-child(2n)) {
        margin-right: 30px;
      }

      &-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }

    &-text {
      width: 306px;
      height: 196px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .works {
    &-list {
      margin: -15px;

      &-item {
        margin: 15px;
        width: 370px;
      }
    }

    &-text {
      width: 322px;
      height: 168px;
    }
  }
}
