*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: var(--main-text-color);
  font-family: var(--maim-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

:focus {
  outline: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
