:root {
  --accent-color: #2196f3;
  --maim-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-text-color: #757575;
  --title-color: #212121;
  --footer-title-color: #ffffff;
}
